{{ template "base" . }}
{{ define "head" }}{{ end }}
{{ define "main" }}
<div class="section-div">
  <h1>{{ .PageUser.ID }}</h1>
</div>
{{ range $i, $post := .Posts }}

  {{ range $i, $postImage := $post.PostImages }}
    <img src="{{$.ImagesBaseURL}}{{ $postImage.Image.ID }}" style="width: {{ $postImage.Image.Width }}px; max-height: {{ $postImage.Image.Height }}px;" />
  {{ end }}

  <div class="section-div" style="white-space: pre;">
      {{ $post.Body }}
  </div>
{{ end }}
{{ end }}
