{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>social</title>
    <link rel="shortcut icon" type="image/jpg" href="{{ .ImagesBaseURL }}favicon.ico"/>
    {{ template "head" . }}
  </head>
  <body>
    <script>
      window.user = {{ if .User }}{
        id: "{{ .User.ID }}"
      }{{ else }}null{{ end }};
    </script>
    {{ template "main" . }}
  </body>
</html>
{{ end }}
