{{ template "base" . }}
{{ define "head" }}{{ end }}
{{ define "main" }}
<div class="section-div">
  {{ range $i, $post := .Posts }}
    <p>{{ $post.UserID }} says:</p>
    <p style="white-space: pre;">{{ $post.Body }}</p>
  {{end}}
</div>
{{ end }}
