{{ template "base" . }}
{{ define "head" }}{{ end }}
{{ define "main" }}
{{ range $i, $post := .Posts }}
  <div class="section-div">
    {{ $post.UserID }}:
  </div>

  {{ range $i, $postImage := $post.PostImages }}
    <img src="{{$.ImagesBaseURL}}{{ $postImage.Image.ID }}" style="width: {{ $postImage.Image.Width }}px; max-height: {{ $postImage.Image.Height }}px;" />
  {{ end }}

  <div class="section-div" style="white-space: pre;">
    {{ $post.Body }}
  </div>
{{end}}
{{ end }}
